
<h1>Hello! Please enter your name.</h1>
<body background="http://i1320.photobucket.com/albums/u522/Hi_C_30/Boo-the-dog-Hungry_zps13667dd3.jpg">



<form action="/" method="post">
  <input type="text" name="name">
  <input type="submit" value="save">
</form>
